* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 800px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 24px;
}

.user {
  width: 100px;
  height: 100px;
  margin: 20px;
}

